# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/
x64/
x86/
Binaries/
bin/
obj/

# C++ intermediate
*.obj
*.pdb
*.idb
*.ilk
*.ipch
*.tlog
*.log
*.pch

# DXLib temp (if any)
DxLibTemp/
